In [3]:
import pandas as pd# 1. 读取Excel文件
def read_excel_data(file_path):
    df = pd.read_excel(file_path)
    data = []

    for _, row in df.iterrows():
        main_item = row['主项名称']
        generalizations = row['泛化'].split(
            '\n') if pd.notna(row['泛化']) else []

        # 为每个泛化项创建一条记录
        for gen in generalizations:
            if gen.strip():  # 跳过空字符串
                data.append({
                    'main_item': main_item,
                    'generalization': gen.strip(),
                    'combined_text': f"{main_item} {gen.strip()}"  # 合并文本用于向量化
                })

    return pd.DataFrame(data)

In [4]:
df = read_excel_data("test.xlsx")
df.head()

      main_item generalization           combined_text
0  住房公积金贷款二手房贷款       公积金二手房贷款   住房公积金贷款二手房贷款 公积金二手房贷款
1  住房公积金贷款二手房贷款       二手房公积金借款   住房公积金贷款二手房贷款 二手房公积金借款
2  住房公积金贷款二手房贷款      公积金买二手房贷款  住房公积金贷款二手房贷款 公积金买二手房贷款
3  住房公积金贷款二手房贷款      二手房用公积金贷款  住房公积金贷款二手房贷款 二手房用公积金贷款
4  住房公积金贷款二手房贷款       住房金二手房贷款   住房公积金贷款二手房贷款 住房金二手房贷款

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   main_item       66 non-null     object
 1   generalization  66 non-null     object
 2   combined_text   66 non-null     object
dtypes: object(3)
memory usage: 1.7+ KB